//Typography
$font-stack: 'Arial', sans-serif;

// Layout
$spacer: 20px;

// Colors
$color-primary: hsl(120, 40%, 75%);
$color-body: #ccc;
$color-background: rgba(17, 17, 17, 0.9);
$color-background-dark: rgba(17, 17, 17, 0.4);