header {
  display: flex;
  background-color: $color-background-dark;
  align-items: center;
  justify-content: space-between;
  padding: 0 $spacer 0 $spacer;
  @include menu($color-body, $spacer);
  .menu .menu__item .menu__link {
    text-transform: uppercase;
    font-weight: bold;
  }
}
