.post {
  //min-height: 100vh;
  &__info {
    margin-top: 10px;
    border-radius: 3px 3px 0 0;
    background-color: $color-background-dark;
    padding: 7px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    &__author {
      margin-right: 7px;
      &:after {
        content: "|";
      }
    }
    h2 {
      color: $color-primary;
    }
    aside {
      display: flex;
    }
  }

  &__content {
    a {
      color: $color-primary;
    }
    img {
      border-radius: 3px;
      max-width: 100%;
    }
    hr {
      border: 2px solid $color-primary;
    }
    background-color: $color-background-dark;
    border-radius: 0 0 3px 3px;
    padding: 7px;
  }
}
